<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="RecruitmentTasks_ProductCustomSku::custom_sku_changes"
             title="Custom SKU Changes"
             module="RecruitmentTasks_ProductCustomSku"
             sortOrder="50"
             parent="Magento_Catalog::catalog"
             action="custom_sku/history/index"
             resource="RecruitmentTasks_ProductCustomSku::custom_sku_changes"/>
    </menu>
</config>
