<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="custom_sku" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Custom SKU</label>
                <field id="retention_period" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Days of History</label>
                    <comment>Number of days to keep Custom SKU changes in history</comment>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
