<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <custom_sku>
                <retention_period>30</retention_period>
            </custom_sku>
        </catalog>
    </default>
</config>
